<!--index.html-->
<html>
  <head>
    <!--Use the title variable to set the title of the page-->
    <title>SQL Injection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--Use bootstrap to make the application look nice-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>

  <form action="/article/secure/">
    <label for="secure_input">Get Article with id (secure):</label>
    <input type="text" id="secure_input" name="title">
    <input type="submit" value="Submit">
  </form>

  <form action="/article/insecure/">
    <label for="insecure_input">Get Article with id (insecure!):</label>
    <input type="text" id="insecure_input" name="title">
    <input type="submit" value="Submit">
  </form>

  <form action="/token/">
    <label for="token">Get token (CSRF):</label>
    <input type="submit" id="token" value="Submit">
  </form>

  <form action="/token/" method="POST">
    <label for="token_validate">Check if token is valid (CSRF):</label>
    <input type="submit" value="Submit">
  </form>

  <form action="/signin" method="post">
    <label for="login">Login</label>
    <input type="text" id="username" name="Username">
    <input type="password" id="password" name="Password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
